/* color list: 
#D1D4AB - yellow green
#C7D8C9 - sage green
#ABCBDD - light blue
#98AF93 - dark camo green 
#263b57 - dark blue
#E6D0B6 - light orange 
#E9EBCF - background color
*/

@font-face {
    font-family: "Jost" ;
    src: url("fonts/Jost-VariableFont_wght.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Jost";
    src: url("fonts/Jost-Italic-VariableFont_wght.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Butler";
    src: url(fonts/Butler/Butler_ExtraBold.otf);
}

*{
    font-family: 'Jost', sans-serif;
    font-weight: 200;
    font-size: 20px;
    list-style: none;
    padding: 0;
}


body{
    display: block;
    margin-left: 2%;
    background-color: #E9EBCF;
}

.centerbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 75%;
    max-height: 100vh;
    margin: auto;
}

.container{
    display:flex;
    align-items: center;
    justify-content: center;
}

.toptext{
    padding-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.audioandimage{
    display:flex;
    max-width: 80%;
}
.audiobox {
    flex:35%;
    max-width: 35%;
}

.audiobox audio{
    padding-top: 2%;
}
.imagebox{
    flex:35%;
    max-width: 35%;
    max-height: 60%;
}
.navbar {
    margin-top: 2vh;
    padding-bottom: 20px;
}
.navbar li{
    display:inline;
    float:left; 
    display: block;
    padding: 8px;
}

.navbar a{
    color: #2b4c77;
    text-decoration: none;
}

.navbar a:hover{
    color:#98AF93;
}

.logo{
    font-family: "Butler";
    padding-left: 10px;
    font-size: 25px;
}

@media screen and (max-width: 600px) {
    .imagebox, .audiobox{
        flex: 100%;
    
    }

}