body{
    display: block;
    margin-left: 2%;
    background-color: antiquewhite;
}

.map {
        display: grid;
        height: 100%;
    }
.center-fit {
    max-width: 75%;
    max-height: 100vh;
    margin: auto;
}
.navbar {
    margin-top: 2vh;
}
.navbar li{
    display:inline;
    float:left; 
    display: block;
    padding: 8px;
}